.git
*.tar
*.tar.gz
build/
target/
**/*.o
**/*.lo
**/*.la
**/*.a
**/*.so
**/.libs/
**/.deps/
autom4te.cache/
src/kerrigand
src/kerrigan-cli
src/kerrigan-tx
src/kerrigan-util
src/kerrigan-wallet
src/kerrigan-qt
src/test/test_kerrigan
config.log
config.status
